/* .container {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.clocksList {
  display: flex;
  width: 100vw;
  justify-content: start;
  align-items: start;
}
.clockContainer {
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 5px;
  end: 5px; /* Или right: 5px; */
/* background: none;
  border: none;
  color: #dc3545;
  font-size: 1.2rem;
  cursor: pointer;
  line-height: 1;
}

.delete-btn:hover {
  color: #bd2130;
  transform: scale(1.2);
} */
